header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  padding: 16px 0;
}

header img {
  width: 60px;
  margin-right: 16px;
}

header h1 {
  text-transform: uppercase;
}
