footer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 16px;
}

footer a, b {
    text-decoration: none;
    color: var(--custom-color-violet);
    font-weight: 600;
}