input[type="checkbox"]:checked {
    accent-color: var(--custom-color-violet);
}

.btn {
    border: none;
    border-radius: 5px;
    margin: 0;
    transition: .3s;
}

.btn:hover {
    filter: brightness(1.1);
    transition: .3s;
}

.btn.btn-danger {
    background-color: var(--custom-color-dark);
    margin: 0 auto;
}

.btn.btn-success {
    background-color: var(--custom-color-violet);
}
